.head {
    font-weight: 900;
    font-size: 100px;
    color: aliceblue;
}

.banner-post {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

.vejal {
    font-size: 20px;
    color: rgb(34, 245, 15);
    line-height: 30px;
}

a {
    text-decoration: none;
    background-color: crimson;
    color: aliceblue;
    padding: 10px;
    position: relative;
    top: 40px;
}

.class1 {
    display: flex;
    position: relative;
    left: 50px;
    margin: 5%;
}

.class2 {
    position: relative;
    left: 100px;
}

.class3 {
    display: flex;
    position: relative;
    left: 50px;
    margin: 2%;
}

.class4 {
    position: relative;
    left: 60px;
}

h1 {
    font-size: 50px;
    color: crimson;
}

.class6 {
    text-align: center;
}

.class7 {
    display: flex;


}

.class8 {
    width: 400px;
    background-color: gray;
    border: 2px solid greenyellow;
    box-shadow: 5px 10px #e06040;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
}

.class10 {

    position: absolute;
    position: right;

}

.class11 {
    position: relative;
    left: 80px;
}

.class12 {
    position: relative;
    left: 160px;
}

.class13 {
    position: relative;
    left: 220px;
}

.class14 {
    text-align: center;
}

.class15 {
    font-size: 80px;
}

.class17 {
    width: 307px;
    padding: 5%;
    font-style: italic;


}

.class16 {
    width: 307px;
    height: 410px;
    border: 1px solid red;
    margin: 5%;
}

.class18 {
    position: relative;
    bottom: -1px;


}

.class20 {
    display: flex;
    position: relative;
    left: 60px;
}

.class21 {
    text-align: center;
    background-color: black;
    font-style: italic;
}

.class22 {
    color: azure;
}